@import url('https://fonts.googleapis.com/css?family=Roboto Slab:300,400');

body{
	background-color:#fff;
	color:#405447;
	font-family:'Roboto Slab', Arial, sans-serif;
	font-weight: 300;
	padding:10px;
  margin: 0;
}
h1, h3, h4{
	font-weight:300;
    margin: 5px;
}
h4{
  font-size: 18px;
}
hr{
	margin:0 20%;
}
li{
	margin:10px 0;
}
.side{
    float:right;
    margin:10px;
}
.review{
    margin: 10px;
}
figure{
	text-align:center;	
}