body{
  font-family: "Roboto Mono", monospace;
  background-color:#eee;
  color:#444;
  transition:background-color 500ms ease, color 500ms ease;
  min-height:100vh;
  height:inherit;
  overflow: auto;
}
#wrapper{
  height:auto;
  min-height:100vh;
  box-sizing: border-box;
}
#undoHost{
  display:none; /*seems buggy, plus I don't really want this functionality...*/
}

p{
  animation: pIn 250ms ease-out 0s normal;
  -webkit-animation: pIn 250ms ease-out 0s 1 normal;
}
#title{
  display:none;
}

a{
  color:#88d;
}

@-webkit-keyframes pIn {
  0% {
  -webkit-transform: translateY(-20px);
  opacity: 0;
  }
  100% {
  -webkit-transform: translateY(0px);
  opacity: 1;
  }
}

.styTV{
  font-family: ModeSeven, system;
  text-shadow: -1px 0 0 #0f07, 1px 0 0 #f0f7;
  filter: blur(0.5px);
}
.styRed{
  color:#de3737;
}
.styCool{
  font-family: "Comic Sans MS";
  letter-spacing: 10px;
  color: #ff0;
}
.styAlien{
  color:#d3d;
  letter-spacing: -2px;
}
.styDream{
  color: #4a0;
  font-style: italic;
}
.txtCenter{
  text-align: center;
  font-size:1.6em;
}

body.intro{
  font-family: ModeSeven, system;
  background-color: #111;
  text-shadow: -1px 0 0 #0f0a, 1px 0 0 #f0fa;
  color: #ccc;
  transition:none;
}

body.intro p{
  animation: none;
  -webkit-animation: none;
}
body.intro a.paragraph, body.intro a.page {
  color:#00f;
}
body.intro #wrapper{
  border:none;
  font-size: 1.7em;
  text-align: center;
  filter: blur(0.5px);
}
body.intro #inventoryHostWrapper{
  display: none;
}

body.dream1, body.dream1 #interactionHost, body.d1-portal, body.d1-portal #interactionHost{
  background-color: #483c23;
  color: #ddcfc3;
}

body.d1-hut1, body.d1-hut1 #interationHost, body.d1-hut1 #wrapper{
  background-color: #282222;
  color: #7f8290;
}
body.d1-hut2, body.d1-hut2 #interationHost, body.d1-hut2 #wrapper, body.d1-hut3, body.d1-hut3 #interationHost, body.d1-hut3 #wrapper{
  background-color: #4d484f;
  color: #b6b6b6;
}

body.dream1 #wrapper{
  border-color:#bfb39e;
}

body.fadeWhite{
  transition: background-color 3s ease, color 3s ease;
  background-color: #fdf; 
  color:#777;
}
body.fadeBlack{
  transition: background-color 3s ease, color 3s ease;
  background-color: #101; 
  color:#777;
}

#healthBar{
  width: 78%;
  height: 100%;
  background-color: #de3737ee;
  transition: width 200ms ease;
}
#healthBarWrapper{
  height: 16px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #fff;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #9887;
}
#healthLabel{
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

@font-face {
  font-family: ModeSeven;
  src: url(../assets/modeseven.woff);
}

#d1-portalglow{
  height:0%;
  width:100%;
  position: absolute;
  bottom:0;
  left:0;
  background: linear-gradient(to top, #f0f4 0%,#0000 50%);
  transition:height 2000ms ease;
  animation: flicker 2s ease 0s infinite normal;
  -webkit-animation: flicker 2s ease 0s infinite normal;
  z-index: -1;
}
body.d1-portal #d1-portalglow{
  height:100%;
}

#d1-circuitry{
  height:100%;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  background:url(../assets/circuitry.png);
  opacity: 0;
  background-size: 1200px;
  filter: saturate(0) brightness(0.7);
  transition:opacity 500ms ease, filter 3s ease;
  z-index: -1;
}
body.d1-hut1 #d1-circuitry{
  opacity: 0.1;
}
body.d1-hut2 #d1-circuitry{
  opacity: 0.1;
}
body.d1-hut3 #d1-circuitry{
  opacity: 0.3;
  filter: saturate(1);
}

@-webkit-keyframes flicker {
0% {
opacity: 1;
}
50% {
opacity: 0.5;
}
100% {
opacity: 1;
}
}